    <h1>Register</h1>
<form action="/users/register" method="POST" class="center-form">
    <div class="form-group">
        <input type="text" name="username" class="input-field" placeholder="Username"/>
    </div>
    <div class="form-group">
        <input type="password" name="password" class="input-field" placeholder="Password"/>
    </div>
    <div class="form-group">
        <input type="password" name="confirmPassword" class="input-field" placeholder="Confirm Pass"/>
    </div>
    <div class="form-group">
        <input type="text" name="firstName" class="input-field" placeholder="First name"/>
    </div>
    <div class="form-group">
        <input type="text" name="lastName" class="input-field" placeholder="Last name"/>
    </div>
    <button class="btn btn-primary">Register</button>
</form>